

RewriteEngine on

#RewriteBase /api/tiles

RewriteCond %{REQUEST_FILENAME}  !(cache|load.php)
RewriteRule (.*)  cache/$1 [NC]

RewriteCond %{REQUEST_FILENAME}  !-f
RewriteRule ^cache/([a-z]+)/([0-9]+)/([0-9]+)/([0-9]+).png$  load.php?provider=$1&z=$2&x=$3&y=$4
