<?php

$urls = array(
	"http://otile1.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png",
	"http://otile2.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png",
	"http://otile3.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png",
	"http://otile4.mqcdn.com/tiles/1.0.0/osm/${z}/${x}/${y}.png"
);

?>